- breadcrumb_title _('Customer Relations Contacts')
- page_title _('Customer Relations Contacts')

#js-crm-contacts-app{ data: { group_full_path: @group.full_path, group_issues_path: issues_group_path(@group) } }
